[submodule "lib/fast-cpp-csv-parser"]
	path = lib/fast-cpp-csv-parser
	url = https://github.com/ben-strasser/fast-cpp-csv-parser.git
[submodule "lib/eigen"]
	path = lib/eigen
	url = https://github.com/eigenteam/eigen-git-mirror.git
[submodule "lib/libptpll"]
	path = lib/libptpll
	url = https://github.com/matsengrp/libptpll.git
[submodule "lib/tclap"]
	path = lib/tclap
	url = https://git.code.sf.net/p/tclap/code
[submodule "lib/partis"]
	path = lib/partis
	url = https://github.com/psathyrella/partis.git
	branch = dev
[submodule "lib/revbayes"]
	path = lib/revbayes
	url = https://github.com/revbayes/revbayes.git
[submodule "lib/phylomd"]
	path = lib/phylomd
	url = https://github.com/dunleavy005/phylomd.git
