backports.functools-lru-cache==1.6.1
biopython==1.76
colored-traceback==0.3.0
cycler==0.10.0
DendroPy==4.4.0
graphviz==0.13.2
Jinja2==2.10.3
kiwisolver==1.1.0
MarkupSafe==1.1.1
matplotlib==2.2.4
nestly==0.6.1
numpy==1.16.6
psutil==5.6.7
Pygments==2.7.4
pyparsing==2.4.6
pysam==0.15.3
python-dateutil==2.8.1
pytz==2019.3
PyYAML==5.3
scipy==1.2.2
six==1.13.0
subprocess32==3.5.4
weblogo==3.6.0
